@import "tailwindcss";

@theme {
    --color-light-red-300: hsl(13, 100%, 72%);
    --color-light-red-400: hsl(353, 100%, 62%);

    --color-dark-blue-950: hsl(240, 10%, 16%);
    --color-grayish-blue: hsl(0, 0.00%, 86.70%);
    --color-dark-grayish-blue: hsl(208, 49%, 24%);

    --color-dark-gray-blue: hsl(237, 17%, 21%);
    --color-desaturated-blue: hsl(237, 23%, 32%);

    --color-footer-bg: hsl(240, 10%, 16%);
}

.grid-feature-highlight {
    @apply md:grid md:grid-cols-[1fr_repeat(3,4fr)_1fr] gap-2
}

.grid-product-showcase {
    @apply md:grid md:grid-cols-[1fr_repeat(4,4fr)_1fr] gap-2
}